/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*  apply a natural box layout model to all elements  */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ---------------------------- Body ---------------------*/
body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  font-size: 16px;
}

/* --------------------------- HEADER -----------------------*/

header {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 1rem $gutter;

  h1 {
    font-size: 2rem;
    font-weight: $normalWeight;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: $normalWeight;
  }
}

/* ---------------------- NAVIGATION ----------------------*/

nav {
  background-color: $secondaryColor;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  ul li {
    float: left;
    width: 25%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  ul li:last-child {
    border-right: none;
  }

  ul li a {
    display: block;
    text-align: center;
    font-weight: $boldWeight;
    padding: 0.5rem 0;
    color: $primaryColor;
    text-decoration: none;
    transition: background 0.75s ease, color 0.75s ease;
  }

  ul li.active a {
    background-color: darken($secondaryColor, 10%);
  }

  ul li a:hover {
    color: $secondaryColor;
    background-color: $primaryColor;
  }
}

/* --------------------------- MAIN ---------------------------- */

main {
  figure.banner {
    width: 100%;
  }

  figure.banner img {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    margin: 1rem 0 0 $gutter;
    color: $primaryColor;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0.75rem 0 0 $gutter;
    color: lighten($primaryColor, 10%);
  }

  h3 {
    font-size: 1.2rem;
    color: lighten($primaryColor, 20%);
  }

  p {
    line-height: 130%;
    color: $fontColor;
  }

  hr.fadeaway {
    background: linear-gradient(
      to right,
      rgba(66, 78, 100, 1) 0%,
      rgba(65, 79, 102, 1) 1%,
      rgba(41, 137, 216, 0.51) 50%,
      rgba(32, 124, 202, 0.5) 51%,
      rgba(66, 78, 100, 0) 100%
    );
    height: 2px;
    border: none;
    margin: 0 $gutter;
  }

  figure.photo {
    width: 100% - $gutterdbl;
    margin: 0.5rem $gutter;
  }

  figure.photo img {
    width: 100%;
  }

  figure.photo figcaption {
    text-align: center;
    color: $primaryColor;
  }

  div.blog article {
    margin: 0 $gutter;
    width: 100% - $gutterdbl;
  }
}

/* --------------------------- FOOTER --------------------------- */

footer {
  width: 100%;
  background-color: $primaryColor;

  p {
    text-align: center;
    color: $secondaryColor;
    padding: 0.75rem 0;
    font-size: 0.9rem;
  }

  p a {
    color: $secondaryColor;
  }
}

/* ------ Clearfix: Force an Element not to collapse --------- */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
